<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="/css/settings.css">
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <section class="py-5 my-5" id="container">
            <div class="container">
                <h1 class="mb-5 extra-top-margin">Account Settings</h1>
                <div class="bg-white shadow rounded-lg d-block d-sm-flex">
                    <div class="profile-tab-nav border-right">
                        <div class="p-4">
                            <div class="img-circle text-center mb-3">
                                <img src="<%-user.pfp%>" alt="public profile picture" class="shadow">
                                <div class="position-relative color-bg-primary rounded-2 color-text-primary px-2 py-1 left-0 bottom-0 ml-2 mb-2 border pointer"
                                    style="width: 70px; left: 100px; bottom: 20px; background-color: #2D333B; color: whitesmoke;">
                                    <label for="choosefileimage" style="margin: 0; color: whitesmoke;" class="pointer">
                                        <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1"
                                            data-view-component="true" height="16" width="16"
                                            class="octicon octicon-pencil" style="fill: whitesmoke;">
                                            <path fill-rule="evenodd"
                                                d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z">
                                            </path>
                                        </svg>
                                        Edit
                                    </label>
                                </div>
                            </div>
                            <h4 class="text-center">
                                <%-user.username%>
                            </h4>
                        </div>
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="profile-tab" data-toggle="pill" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="true">
                                <i class="fa fa-home text-center mr-1"></i>
                                Profile
                            </a>
                            <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab"
                                aria-controls="password" aria-selected="false">
                                <i class="fa fa-key text-center mr-1"></i>
                                Password & Security
                            </a>
                            <a class="nav-link" id="general-tab" data-toggle="pill" href="#general" role="tab"
                                aria-controls="general" aria-selected="false">
                                <i class="fa fa-tv text-center mr-1"></i>
                                General
                            </a>
                            <a class="nav-link" id="notification-tab" data-toggle="pill" href="#notification" role="tab"
                                aria-controls="notification" aria-selected="false">
                                <i class="fa fa-bell text-center mr-1"></i>
                                Notifications
                            </a>
                        </div>
                    </div>
                    <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="profile" role="tabpanel"
                            aria-labelledby="profile-tab">
                            <h3 class="mb-4">Profile Settings</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" value="<%-user.name.first%>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Middle Name</label>
                                        <input type="text" class="form-control" value="<%-user.name.middle%>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" value="<%-user.name.last%>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone number</label>
                                        <input type="text" class="form-control" value="<%-user.phone%>">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Bio</label>
                                        <textarea class="form-control" rows="4"><%-user.bio%></textarea>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary">Update</button>
                                <button class="btn btn-light">Cancel</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                            <h3 class="mb-4">Password Settings</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Old password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>New password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Confirm new password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary">Update</button>
                                <button class="btn btn-light">Cancel</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-tab">
                            <h3 class="mb-4">General Settings</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="app-check">
                                            <label class="form-check-label" for="app-check">
                                                App check
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                            <label class="form-check-label" for="defaultCheck2">
                                                Lorem ipsum dolor sit.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary">Update</button>
                                <button class="btn btn-light">Cancel</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
                            <h3 class="mb-4">Notification Settings</h3>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="notification1">
                                    <label class="form-check-label" for="notification1">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium
                                        accusamus, neque cupiditate quis
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="notification2">
                                    <label class="form-check-label" for="notification2">
                                        hic nesciunt repellat perferendis voluptatum totam porro eligendi.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="notification3">
                                    <label class="form-check-label" for="notification3">
                                        commodi fugiat molestiae tempora corporis. Sed dignissimos suscipit
                                    </label>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary">Update</button>
                                <button class="btn btn-light">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="invisible" class="invisible">
            <form ref='uploadForm' id='uploadForm' action='/api/changePfp' method='post' encType="multipart/form-data">
                <input type="file" name="image" id="choosefileimage" onchange="openfilemodal();" />
                <input type='submit' value='Upload!' id="submitimage" />
            </form>
        </section>


        <details-dialog
            class="Box Box--overlay d-flex flex-column anim-fade-in fast hx_rsm-dialog hx_rsm-modal invisible"
            role="dialog" aria-modal="true" tabindex="-1" id="selectimagemodal">
            <div class="Box-header">
            </div>
            <!-- '"` -->
            <!-- </textarea></xmp> -->


            <div id="showimagemodalhere"></div>
            <label for="submitimage" class="newpfp centerY"><span class="centerY" style="text-align: center;">Set new
                    profile picture</span></label>



        </details-dialog>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
<script>
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            if (decodeURIComponent(pair[0]) == variable) {
                return decodeURIComponent(pair[1]);
            }
        }
        console.log('Query variable %s not found', variable);
    }
    const pages = {
        profile: "profile-tab",
        security: "password-tab",
        notifications: "notification-tab",
        general: "general-tab"
    }
    let page = getQueryVariable("page");
    console.log(page)
    if (pages[page]) {
        document.getElementById(pages[page]).click()
    }

    document.getElementById("profile-tab").addEventListener("click", function () {
        document.body.innerHTML = "";
        document.body.style.display = "none !important";
        window.location.href = "?page=profile"
    })
    document.getElementById("password-tab").addEventListener("click", function () {
        document.body.innerHTML = "";
        document.body.style.display = "none !important";
        window.location.href = "?page=security"
    })
    document.getElementById("general-tab").addEventListener("click", function () {
        document.body.innerHTML = "";
        document.body.style.display = "none !important";
        window.location.href = "?page=general"
    })
    document.getElementById("notification-tab").addEventListener("click", function () {
        document.body.innerHTML = "";
        document.body.style.display = "none !important";
        window.location.href = "?page=notifications"
    })

    function openfilemodal() {
        let input = document.getElementById("choosefileimage");
        handleFiles(input.files)
        document.getElementById("selectimagemodal").classList.remove("invisible")
    }

    function handleFiles(files) {
        for (let i = 0; i < files.length; i++) {
            const file = files[i];

            if (!file.type.startsWith('image/')) { continue }

            const img = document.createElement("img");
            img.classList.add("setprofileimage");
            img.file = file;
            let preview = document.getElementById("showimagemodalhere")
            preview.appendChild(img); // Assuming that "preview" is the div output where the content will be displayed.

            const reader = new FileReader();
            reader.onload = (function (aImg) { return function (e) { aImg.src = e.target.result; }; })(img);
            reader.readAsDataURL(file);
        }
    }

    window.addEventListener('click', function (e) {
        if (document.getElementById('selectimagemodal').contains(e.target)) {
            // Clicked in box
        } else {
            // Clicked outside the box
            document.getElementById('selectimagemodal').classList.add("invisible")
        }
    });
</script>
<style>
    .Box--overlay {
        width: 448px;
        margin-right: auto;
        margin-left: auto;
        background-color: var(--color-bg-primary);
        background-clip: padding-box;
        border-color: var(--color-border-primary);
        box-shadow: 0 0 18px rgb(0 0 0 / 40%);
    }

    [data-catalyst],
    auto-complete,
    details-dialog,
    details-menu,
    file-attachment,
    filter-input,
    include-fragment,
    poll-include-fragment,
    remote-input,
    tab-container,
    text-expander {
        display: block;
    }

    details-dialog {
        position: fixed;
        margin: 10vh auto;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        max-height: 80vh;
        max-width: 90vw;
        width: 448px;
    }

    * {
        box-sizing: border-box;
    }

    .lh-default {
        line-height: 1.5 !important;
    }

    .color-text-primary {
        color: var(--color-text-primary) !important;
    }

    style attribute {
        word-wrap: break-word;
    }

    .invisible {
        display: none !important;
    }

    .setprofileimage {
        width: 200px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .centerY {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .newpfp {
        margin-top: 10px;
        background-color: #46954a;
        border-radius: 15px;
        border: 1px solid #18ab29;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 9px 76px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #13300e;
    }

    .newpfp:hover {
        background-color: #48ab4b;
    }

    .newpfp:active {
        position: relative;
        top: 1px;
    }
</style>